.overlay {
    position: absolute;
    justify-content: center;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90000;
    background-color: rgba(0, 0, 0, .6);
    cursor: progress;
}

.overlay .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    margin-top: -45px;
    color: #000;
    font-size: 30px;
    align-self: center;
}

.lock {
    display: block;
}